# Example 1

In [ ]:
# Integer
my_integer = 17
type(my_integer)
print (my_integer)

In [ ]:
# Float
my_float = 3.14
type(my_float)
print(my_float)

In [ ]:
# adding intgeger and float
mynew_var=my_integer + my_float
print(type(mynew_var))
print(mynew_var)

<class 'float'>
45.14

In [ ]:
# Arithmetic operations
result_addition = my_integer + my_float
print(f'result_addition={result_addition}')

result_subtraction = my_integer - my_float
print(f'result_subtraction={result_subtraction}')

result_multiplication = my_integer * my_float
print(f'result_multiplication={result_multiplication}')

result_division = my_integer / my_float
print(f'result_division={result_division}')

result_addition=45.14
result_subtraction=38.86
result_multiplication=131.88
result_division=13.375796178343949

In [ ]:
# Convert float to integer
print(int(result_multiplication))
print(int(result_division))

In [ ]:
#get the integer and fractional part of the floating number
# https://docs.python.org/3/library/math.html
import math
fractional_part, integer_part = math.modf(result_division)

print(f"The fractional part of {result_division} is {fractional_part} and integer part is {integer_part}")

The fractional part of 13.375796178343949 is 0.37579617834394874 and integer part is 13.0

In [1]:
# working with ranges
num=10
a = range(num)
print(type(a))
print(f'a={a}')
print([i for i in range(num)])
print(f'sum(a) = {sum(a)}  is also equal to {(num * (num-1))/2}')

<class 'range'>
a=range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
sum(a) = 45  is also equal to 45.0

In [ ]:
#Modulos

print((5,2))