# Example 1

In [3]:
# Integer
my_integer = 17
type(my_integer)
print (my_integer)

17

In [4]:
# Float
my_float = 3.14
type(my_float)
print(my_float)

3.14

In [5]:
# adding intgeger and float
mynew_var=my_integer + my_float
print(type(mynew_var))
print(mynew_var)

<class 'float'>
20.14

In [ ]:
# Arithmetic operations
result_addition = my_integer + my_float
print(f'result_addition={result_addition}')

result_subtraction = my_integer - my_float
print(f'result_subtraction={result_subtraction}')

result_multiplication = my_integer * my_float
print(f'result_multiplication={result_multiplication}')

result_division = my_integer / my_float
print(f'result_division={result_division}')

In [ ]:
# Convert float to integer
print(int(result_multiplication))
print(int(result_division))

In [7]:
#get the integer and fractional part of the floating number
# https://docs.python.org/3/library/math.html
import math
fractional_part, integer_part = math.modf(result_division)

print(f"The fractional part of {result_division} is {fractional_part} and integer part is {integer_part}")

The fractional part of 5.414012738853503 is 0.4140127388535033 and integer part is 5.0

In [15]:
# Floor

print(math.floor(result_division))
print(math.floor(5.1))
print(math.floor(5.5))
print(math.floor(5.9))

5
5
5
5

In [13]:
# Ceiling
print(math.ceil(5.7))
print(math.ceil(5.1))
print(math.ceil(5.5))

6
6
6

In [8]:
# working with ranges
num=10
a = range(num)
print(type(a))
print(f'a={a}')
print([i for i in range(num)])
print(f'sum(a) = {sum(a)}  is also equal to {(num * (num-1))/2}')

<class 'range'>
a=range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
sum(a) = 45  is also equal to 45.0

In [25]:
# Built-in divmod - Take two (non-complex) numbers as arguments and return a pair of numbers consisting of their quotient and remainder when using integer division

print(divmod(7,3))
print(divmod(10,3))
print(divmod(22,4))
a=divmod(27,7)
print(a)
print(type(a))
print(f'First tuple is {a[0]}')

(2, 1)
(3, 1)
(5, 2)
(3, 6)
<class 'tuple'>
First tuple is 3